ansible-core
asgiref
black==22.8.0
certifi
cffi
chardet
click
colorama
cryptography
cryptography>=42.0.4,<43.0.0
docker
flake8
grpcio>=1.53.0
identify>=1.4.20
idna
importlib-resources
isort==5.10.1
Jinja2
jsonschema
MarkupSafe
md-toc
mdx_truly_sane_lists
mike
mkdocs
mkdocs-git-revision-date-plugin
mkdocs-glightbox
mkdocs-include-dir-to-nav
mkdocs-material==9.5.17
mkdocs-material-extensions
mkdocs-print-site-plugin
mkdocs-pymdownx-material-extras
mkdocs-table-reader-plugin
msgpack>=1.0.3
natsort
netaddr
packaging
pre-commit>=2.9.2
pre-commit-hooks>=3.3.0
protobuf>=5.28.3,<6.0dev
pycodestyle
pycparser
pylint>=2.4.4
pyparsing
pytz
PyYAML
requests
requests>=2.20.1
six
sqlparse
treelib
twine
typing-extensions>=4.2.0
urllib3
yamllint
zipp
