ansible-core
asgiref
black==22.8.0
certifi
cffi
chardet
click
colorama
cryptography
docker
flake8
identify>=1.4.20
idna
importlib-resources
isort==5.10.1
Jinja2
jsonschema
MarkupSafe
md-toc
mdx_truly_sane_lists
mike
mkdocs
mkdocs-git-revision-date-plugin
mkdocs-glightbox
mkdocs-include-dir-to-nav
mkdocs-material==9.5.17
mkdocs-material-extensions
mkdocs-pymdownx-material-extras
mkdocs-print-site-plugin
natsort
netaddr
packaging
pre-commit>=2.9.2
pre-commit-hooks>=3.3.0
pycodestyle
pycparser
pylint>=2.4.4
pyparsing
pytz
PyYAML
requests
six
sqlparse
treelib
twine
urllib3
yamllint
zipp
